* {
  box-sizing: inherit;
}

html {
  background-color: #233347;
  color: #f5f5f5;
  box-sizing: border-box;
}

:root {
  --rows: 1;
  --columns: 1;
}

h1,
h2,
h3 {
  margin: 0;
}

header {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
}

header.banner {
  position: relative;
  display: block;
  min-height: 100vh;
}

header.banner>#nameDisplay {
  display: grid;
  position: absolute;
  place-items: center;
  align-content: center;
  width: 100%;
  min-height: 75vh;
  height: 100%;
  pointer-events: none;
  font-size: x-large;
}

#nameDisplay {
  cursor: pointer;
}

header:not(.banner)>#nameDisplay>div {
  display: none;
}

/* #bannerGrid {
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  height: 100%;
  max-height: 30.2px;
  width: 100%;
  max-width: 30.2px;
  border: none;
  margin: none;
  background-color: rgb(35, 51, 71);
} */

nav {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0.66rem;
  /* z-index: 2; */
}

.navbar, .banner>nav {
  background-color: #192533;
}

.navbar #nameDisplay {
  text-align: center;
}

.navbar h1 {
  font-size: 20px;
  width: min-content;
}

main {
  padding: 0.66rem;
}

main>*:not(:last-child) {
  margin-bottom: 0.33rem;
}

footer {
  display: flex;
  justify-content: center;
  bottom: 0px;
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid #f5f5f5;
  padding-bottom: 7.5px;
}

footer>a:not(:last-child) {
  margin-right: 2rem;
}

footer>a {
  transition: filter 300ms ease-in-out;
}

footer>a:hover {
  filter: brightness(150%);
}

header.banner~footer {
  display: none;
}

p>a {
  color: inherit;
}

div:has(>iframe) {
  text-align: center;
}

iframe {
  width: 80%;
  aspect-ratio: 1;
}

fieldset {
  border: none;
  width: 100%;
  display: flex;
  padding-block-end: 0.325em;
}

fieldset>* {
  flex: 1 1 0;
}

fieldset>*:not(:last-child) {
  margin-right: 0.33rem;
}

fieldset>div {
  display: flex;
  flex-direction: column;
}

fieldset input {
  border-radius: 5px;
  width: 100%;
  min-height: 30px;
}

fieldset textarea {
  border-radius: 5px;
  width: 100%;
  resize: vertical;
  padding: 0.33rem;
  font-family: inherit;
  min-height: 50px;
  height: 47vh;
}

form>div.buttonGroup {
  width: 100%;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
}

form div>button {
  border-radius: 5px;
  padding: 0.33rem;
  width: 100%;
}

form button[type=submit] {
  background-color: #3FFC7B;
}

button {
  cursor: pointer;
}

.tab {
  font-weight: normal;
  cursor: pointer;
}

.tab.selected {
  font-weight: bold;
}

.container {
  padding: 0.33rem;
}

.container>img {
  max-width: 30rem;
  width: 100%;
  padding: 10px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  border-radius: 12px;
  height: 270px;
  width: 300px;
  cursor: pointer;
}

.card::before{
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: inherit;
  position: absolute;
  z-index: 3;
  background: radial-gradient(775px circle at var(--mouseX) var(--mouseY), rgba(255, 255, 255, 0.06), transparent 40%);
  opacity: 0;
  transition: opacity 500ms;
}

.card:hover::before {
  opacity: 1;
}

.card>.content {
  /* width: calc(100% - 2px);
  height: calc(100% - 2px); */
  inset: 2px;
  position: absolute;
  padding: 2.33rem 2.33rem;
  margin: 1px;
  border-radius: inherit;
  /* background-color: rgb(56, 81, 112); */
  background-color: rgba(46 61 80);
  z-index: 2;

}

.card .title {
  font-size: 1.5em;
  margin-bottom: 0.33rem;
}

.card::after {
  content: '';
  /* width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: inherit;
  position: absolute; */
  z-index: 1;
  background: radial-gradient(387.5px circle at var(--mouseX) var(--mouseY), rgba(255, 255, 255, 0.3), transparent 40%);
  opacity: 0; 
  transition: opacity 500ms;
}

.cardContainer:hover .card::after {
  opacity: 1;
}

@media (min-width: 426px) {
  header.banner>#nameDisplay {
    font-size: xx-large;
  }

  .navbar h1 {
    font-size: 30px;
    width: fit-content;
  }

  .container{
    display: flex;
  }

  .container>* {
    flex: 1 1 0;
  }
}